[submodule "Syntax Highlighting/tmLanguage"]
	path = Syntax Highlighting/tmLanguage
url=https://github.com/marasm-group/marasm.tmLanguage.git
[submodule "Syntax Highlighting/atom/language-marasm"]
	path = Syntax Highlighting/atom/language-marasm
	url = https://github.com/playinggod/language-marasm.git
